<footer class="site-footer" role="banner" >


  <div align="center">

      <a href="https://www.twitter.com/CompAECMel"><img src="/images/Twitter_Logo_Blue.png" alt="logo" style="border:0px;margin:0px;float:center;height:50px;" /></a>
      

      <a href="https://github.com/compaec"><img src="/images/GitHub-Mark-64px.png" alt="logo" style="border:0px;margin:10px;float:center;height:30px;"/></a>

      <a href="/feed.xml"><img src="/images/rss-icon.png" alt="logo" style="border:0px;margin:0px;float:center;height:30px;"/></a>
      
      </div>
</footer>
