<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <style>

    body{
       width: 99vw;
       overflow:auto;
    }

    </style>
  <script src="https://kit.fontawesome.com/a74635581e.js" crossorigin="anonymous"></script>
    {%- include head.html -%}
  </head>


  

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
