---
layout: default
---
<style>
* {
  box-sizing: border-box;
}

.post-event { 
    list-style: none; 
    margin-left: 0px;
  }

.post-list-news {
    margin-left: 0;
    margin-right: 5px;
    list-style-type: none;
  }

  .column {
  float: left;
  padding: 10px;
  height: 500px;
  }

.left {
  width: 25%;
}

.right {
  width: 75%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.right::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

  @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
}

  }
  </style>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
<br>
</div>



<div class="row">
  <div class="column left">

      <h2><a href="https://compaec.github.io/meetings/" target="_top" style="background-color: white; color: orange;"> Events</a></h2>

    {%- if site.posts.size > 0 -%}
    <ul class="post-event">
      {%- for post in site.categories.event -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>

  <div class="column right">

    <h2>
      <a href="https://compaec.github.io/news/" target="_top" style="background-color: white; color: orange;"> News</a></h2>
    {%- if site.posts.size > 0 -%}
    
    <ul class = post-list-news>
      {%- for post in site.categories.news -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        
          <a href="{{ post.url | relative_url }}" >
            {{ post.title | escape }}
          </a>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    
  {%- endif -%}
</div>

<div class="row">
  <div class="column" colspan="2">
    <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://gmail.us20.list-manage.com/subscribe/post?u=a1ccb78085ccef86a40189a56&amp;id=fec3ce729f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE4">Industry  <span class="asterisk">*</span>
</label>
	<select name="MMERGE4" class="required" id="mce-MMERGE4">
	<option value=""></option>
	<option value="Architecture">Architecture</option>
<option value="Engineering">Engineering</option>
<option value="Construction">Construction</option>
<option value="Other">Other</option>

	</select>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a1ccb78085ccef86a40189a56_fec3ce729f" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
  </div>
</div>
</div>

