---
layout: default
---
<style>
* {
  box-sizing: border-box;
}

.post-event { 
    list-style: none; 
    margin-left: 0px;
  }

.post-list-news {
    margin-left: 0;
    margin-right: 5px;
    list-style-type: none;
  }

  .column {
  float: left;
  padding: 10px;
  }

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

  @media screen and (max-width: 600px) {
  .column {
    width: 100%;
}

  }
  </style>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
<br>
</div>



<div class="row">
  <div class="column left">


      <h2><a href="https://compaec.github.io/meetings/" target="_top" style="background-color: white; color: orange;"> Events</a></h2>

    {%- if site.posts.size > 0 -%}
    <ul class="post-event">
      {%- for post in site.categories.event -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>

  <div class="column right">

    <h2>
      <a href="https://compaec.github.io/news/" target="_top" style="background-color: white; color: orange;"> News</a></h2>
    {%- if site.posts.size > 0 -%}
    
    <ul class = post-list-news>
      {%- for post in site.categories.news -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        
          <a href="{{ post.url | relative_url }}" >
            {{ post.title | escape }}
          </a>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    
  {%- endif -%}
</div>
</div>

